<!-- Footer Start -->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">This is the Official website of AMHSS Thirurkad. 
                AMHSS Thirurkad is a government-aided higher secondary school located in Thirurkad, Perintalmanna, Kerala. If you have any queries, please feel free to contact us.
              </p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/admission">Admission</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
           <a href="#">AMHSS Thirurkad</a>. <p class="copyright-text" style="font-size: 15px;"> Designed by <a style="text-decoration: underline;" target="_blank" href="https://linktr.ee/liyannk">LNK</a></p>
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" target="_blank" href="https://www.facebook.com/amhss18067/"><i class="fa fa-facebook"></i></a></li>
                
                <li><a class="instagram" target="_blank" href="https://www.instagram.com/a_m_h_s_s_thirurkad/"><i class="fa fa-instagram"></i></a></li>
                
              </ul>
            </div>
          </div>
        </div>
  </footer>
    <!-- Footer End -->