---
title: AMHSS Thirurkad
layout: 'base.njk'
---


    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

 <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Admission</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Admission</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
  



    <!-- Admission Start -->

    <h1 class="mb-4 text-center">Take Admission Now!</h1>

    <form class="admission-form">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Student's Name</label>
            <input type="text" id="student-name" name="student-name" class="form-control" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Parent's Name</label>
            <input type="text" name="parent-name" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <textarea type="text" name="address" class="form-control" required rows="1"></textarea>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Place</label>
            <input type="text" name="place" class="form-control" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Phone Number</label>
            <input type="tel" name="phone-number" id="Phone-Number" pattern="^\+91 \d{10}$" maxlength="14" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Date of Birth</label>
            <input type="date" name="dob" class="form-control" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Aadhar No. of Student</label>
            <input type="text" name="aadhar-number" data-type="adhaar-number" maxlength="14" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Class for Admission</label>
            <select class="form-control" name="class-admission">
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Select Medium</label>
            <select class="form-control" name="medium">
              <option value="English">English</option>
              <option value="Malayalam">Malayalam</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Select your First Language</label>
            <select class="form-control" name="first-language">
              <option value="Malayalam">Malayalam</option>
              <option value="Arabic">Arabic</option>
              <option value="Urdu">Urdu</option>
              <option value="Sanskrit">Sanskrit</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Last Studied School</label>
            <input class="form-control" name="last-school" type="text">
          </div>
        </div>
      </div>
      
      <div class="center-button">
        <button type="submit" class="btn btn1-primary">Submit</button>
      </div>
    </form>
    
    <!-- Admission End -->
  

  
      
      <!-- JavaScript Libraries -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="lib/wow/wow.min.js"></script>
      <script src="lib/easing/easing.min.js"></script>
      <script src="lib/waypoints/waypoints.min.js"></script>
      <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  
      <!-- Template Javascript -->
      <script src="js/main.js"></script>
